*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    position: relative;
    background: #262a2f;
    color: #333;
}

body h1{
    font-size: 4vw;
    color: white;
    text-align: center;
    padding: 50px 50px 10px 50px; 
}

.subtitle{
    text-align: center;
    color: gainsboro;
    padding: 0 0 40px 0;
}

.search-box{
    width: 600px;
    background: #fff;
    margin: 20px auto 0;
    border-radius: 5px;
}

.row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

input{
    flex: 1;
    height: 50px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

button{
    background: transparent;
    border: 0;
    outline: 0;
}

button .fa-solid{
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}

::placeholder{
    color: #555;
}

.result-box ul{
    border-top: 1px solid #999;
    padding: 15px 10px;
}

.result-box ul li{
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover{
    background: #e9f3ff;
}

.result-box{
    max-height: 300px;
    overflow-y: scroll;
}

.highlighted {
    background-color: #e9f3ff; 
}

.container{
    color: white;
    padding: 20px 0 100px 0;
}

.name{
    background-color: white;
    color: black;
}

.correct{
    background-color: green;
}

.incorrect{
    background-color: red;
}

.partially{
    background-color: orange;
}

table{
    margin: auto auto;
    border-collapse: collapse;
    width: 80%;
}

th{
    padding: 50px;
}
td {
    border: 1px solid black;
}

th, td {
    width: 50px; /* Set the width and height to create square cells */
    height: 50px;
    text-align: center; /* Center the content within cells */
}

footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    color: white;
    padding: 30px;
    width: 100%;
}

.fade-in-left {
    opacity: 0;
    animation: fadeInLeft 0.5s ease forwards;
  }
  @keyframes fadeInLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

.popup-container{
    width: 100%;
    height: 100vh;
    background: rgba(50, 50, 50, 0.5);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.popup{
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.open-container{
    visibility: visible;
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup button{
    height: 70px;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background: #6fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}